* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  height: 122px;
  padding: 0 20px; /* SOLA YAKLAŞTI */
}
/* Stepify yazısı */
/* Menü */
.ust-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Menü linkleri */
.ust-menu a {
  font-size: 22px;
  color: white;
  transition: all 0.4s ease;
}
.ust-menu a {
  font-size: 22px;
  color: white;
  transition: all 0.4s ease;
}
.ust-menu a:hover {
  color: rgb(255, 189, 91);
  transform: translateY(-6px);
}
.ust-menu a:hover {
  color: rgb(255, 189, 91);
  transform: translateY(-6px);
}

.ust-menu a:hover {
  color: rgb(255, 189, 91);
  transform: translateY(-8px);
}
body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;

  background: linear-gradient(120deg, #fff1e6, #ffd6a5, #ffb703, #fff5ee);

  background-size: 400% 400%;
  transition: background 0.5s ease;
}

.brand {
  color: white;
  padding: 40px;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: all 0.7s ease;
  margin-left: -600px;
}
/* CONTACT FORM */
.contact-form {
  max-width: 500px;
  margin: 120px auto;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  color: #2b2b2b;

  /* SADECE TURUNCU - BEYAZ */
  background: linear-gradient(120deg, #fff7f0, #ffe1c4, #ffd1a1, #fffaf5);
  background-size: 300% 300%;
  animation: softMove 14s ease-in-out infinite;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* ANİMASYON */
@keyframes softMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* INPUTLAR */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.9);
}

/* BUTON */
.contact-form button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background: linear-gradient(135deg, #ffc354, #5a1ccf);
  color: #ffffff;
  transition: 0.3s;
}

.contact-form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
