*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 122px;
    padding: 0 20px; /* SOLA YAKLAŞTI */
}
/* Stepify yazısı */
/* Menü */
.ust-menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Menü linkleri */
.ust-menu a{
    font-size: 22px;
    color: white;
    transition: all 0.4s ease;
}
.ust-menu a:hover{
    color: rgb(255, 189, 91);
    transform: translateY(-6px);
}
.ust-menu a:hover{
    color: rgb(255, 189, 91);
    transform: translateY(-6px);
}

.ust-menu a:hover{
    color: rgb(255, 189, 91);
    transform: translateY(-8px);
}
body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    /* Ayakkabı görseli */
    background-image: 
      linear-gradient(
        rgba(253, 163, 111, 0.75),
        rgba(148, 128, 64, 0.75)
      ),
      url();

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.brand{
    color: white;
    padding: 40px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer; 
    transition: all 0.7s ease;
    margin-left: -600px;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
    height: 75px;
}
footer h2{
    font-size: 15px;
}
/* ===== SHOP BLOG ===== */
.shop-blog{
    max-width: 900px;
    margin: 120px auto 80px;
    padding: 50px;
    background: rgba(255,255,255,0.95);
    border-radius: 25px;
    box-shadow: 0 30px 60px rgba(0,0,0,0.4);
    animation: blogFade 1.2s ease;
}

/* BAŞLIK */
.blog-title{
    text-align: center;
    font-size: 42px;
    color: #5a1ccf;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

/* YAZI */
.blog-text{
    font-size: 18px;
    line-height: 32px;
    color: #333;
    margin-bottom: 20px;
    text-align: justify;
}

/* ÜYELER */
.members{
    margin-top: 50px;
    padding-top: 30px;
    border-top: 2px solid #ddd;
}

.members h3{
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    color: #8b0000;
}

/* ÜYE KART */
.member-card{
    display: flex;
    justify-content: space-between;
    padding: 18px 25px;
    margin-bottom: 15px;
    background: linear-gradient(135deg, #7b2ff7, #5a1ccf);
    color: white;
    border-radius: 18px;
    font-size: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    transition: all 0.4s ease;
}

.member-card:hover{
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 18px 35px rgba(0,0,0,0.5);
}

/* ANİMASYON */
@keyframes blogFade{
    from{
        opacity: 0;
        transform: translateY(60px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
